.DS_store
.project
.settings/
target/
dependency-reduced-pom.xml
src/main/resources/assets/static_src/node_modules
src/main/resources/assets/static_src/bower_components
src/main/resources/assets/static
*.log
